.menuCat {
	box-shadow: 0px 0px 5px black;
	padding: 10px;
}
.menu {
	max-width: 30%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body {
	width: 100%;
}
form {
	box-shadow: 0px 0px 5px black;
	padding: 10px;
	margin: auto;
	margin-top: 5%;
}
footer {
	bottom: 0px;
	position: fixed;
}
td.tdCent {
	text-align: center;
}
table {
	margin: auto;
}
p#orderConfirm {
	box-shadow: 0px 0px 5px black;
	padding: 10px;
	text-align: center;
}
